{% extends "base.html" %}
{% import 'helpers.html' as helpers with context  %}

{% block front_matter %}
---
# Author of the website
author: Roger Ford
nav: [tags]

{% endblock %}

{% block title %}Tenchford{% endblock %}

{% block content %}
<div class="row">
		<div class="col-lg-8 embed-responsive">
				{{ helpers.pages(taxonomy("categories")["main"].meta.pages|arrange("-date", limit=6)) }}
		</div>


		<div class="col-sm">
			<div class="card embed-responsive embed-responsive-21by9">
				 <iframe class="embed-responsive-item" scrolling="No"
                src="https://weather.gc.ca/wxlink/wxlink.html?cityCode=sk-40&amp;lang=e" >
                <a href="http://weather.gc.ca">Weather</a>
				</iframe>

			</div>
			<div class="card">
					<div class="card-header"><a href="https://news.google.ca">News</a></div>	
			</div>
			<div class="card">
					<div class="card-header"><a href="http://www.slashdot.org">Slashdot</a></div>	
			</div>

			{{ helpers.pages(taxonomy("categories")["main_sidebar"].meta.pages|arrange("-date", limit=6)) }}
		
		</div>
</div>
{% endblock %}
