{% extends "base.html" %}
{% import 'helpers.html' as helpers with context  %}

{% block front_matter %}
---
# Author of the website
author: Roger Ford
{% endblock %}

{% block nav %}
{% for p in taxonomy("tags").categories %}
<li class="nav-item"><a class="nav-link" href="tags/{{ p }}">{{p}}</a></li>
{% endfor %}
{% endblock %}

{% block title %}Tenchford{% endblock %}

{% block content %}
<div class="row">
		<div class="col-lg-8 embed-responsive">
				{{ helpers.pages("main") }}
		</div>


		<div class="col-sm">
			<div class="card embed-responsive embed-responsive-21by9  mb-5">
				 <iframe class="embed-responsive-item" scrolling="No"
                src="https://weather.gc.ca/wxlink/wxlink.html?cityCode=sk-40&amp;lang=e" >
                <a href="http://weather.gc.ca">Weather</a>
				</iframe>

			</div>
			<div class="card mb-5">
					<div class="card-header"><a href="https://news.google.ca">News</a></div>
					<div class="card-body">
							<ul>
							{% for p in  parse_feed(url="http://news.google.ca/news/rss/?gl=ca&ned=ca&hl=en-CA&zx=bcg635-ya1jq", limit=10)  %}
								<li><a href="{{ p["link"]}}">{{ p["title"]|safe }}</a>
							{% endfor %}
							</ul>
					</div>
			</div>
			<div class="card mb-5">
					<div class="card-header"><a href="http://www.slashdot.org">Slashdot</a></div>
					<div class="card-body">
							<ul>
							{% for p in parse_feed(url="http://rss.slashdot.org/Slashdot/slashdotMain", limit=10)%}
							<li> <a href="{{ p["link"]}}">{{ p["title"]|safe }}</a>
							{% endfor %}
							</ul>
					</div>
			</div>

			{{ helpers.pages("main_sidebar") }}
		
		</div>
</div>
{% endblock %}
