{% extends "base.html" %}

{% block content %}

{% import 'lib/blog.html' as blog with context %}
{% import 'helpers.html' as helpers with context %}

<h1 class="display-4">{{page.meta.title}}</h1>

{% block page_content %}
{{page.html_inline()|safe}}
{% endblock %}

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 embed-responsive">
    {{blog.pages(limit=10)}}
    </div>
    <div class="col-sm">
      {{blog.archive_link()}}

      {{blog.top_tags(limit=15)}}

      {{blog.recent_series(limit=5)}}

	  {{
	  helpers.pages(page.name+"_sidebar")
	  }}
    </div>
  </div>
</div>

{% endblock %}
